:root {
	--color01: #2F0D07;
	--color02:#727272;
	--color03:#EBEBED;
	--color04:#000000;
	--fuente01:'Inter', serif;
	--borde_tarjeta:0px;
}
#fondo_body{
	background-color:var(--color02) !important;
}
.fondo_principal {
margin: 0px;

	
}

.fondo_principal{
	background: url("img/princial.png") no-repeat center;
	background-size: cover;
	min-height: 100vh;
}
#title__section {
	font-size: 50px;
	font-family: --var(--fuente01);

}
#tarjeta {
	height: 400px;
	background: var(--color03);
	border-radius: var(--borde_tarjeta);
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 290px;

}
#tarjeta #tarjeta_cabecera {
	height: 310px;

}

#tarjeta #tarjeta_cabecera img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#tarjeta #tarjeta_cuerpo {
	background-color: var(--color03);

	border-radius: 0px 0px 20px 20px;

}

#columna {
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;

}

#tarjeta_nosotros{
	background-color: var(--color03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: var(--borde_tarjeta);

}



#footer_social  .bi{
font-size: 30px;
color: var(--color04);

}
footer section{
	color: var(--color04);
}
footer #copy{
	color: var(--color04);
}